body {
  background-color: rgba(187, 187, 187, 0.6);
}

.section {
  padding-top: 6%;
  padding-bottom: 6%;
}

.section_about {
  padding-top: 10%;
  background-color: rgba(187, 187, 187, 0.6);
}

.section_portfolio {
  background-color: rgba(168, 168, 168, 0.6);
}

.section_contact {
  background-color: rgba(187, 187, 187, 0.6);
}

.section_aboutSite {
  background-color: rgba(168, 168, 168, 0.6);
  padding-top: 2%;
  padding-bottom: 2%;
}

.menu.nav--margin-b-none {
  margin-bottom: 0;
}

.menu.nav--color {
  background-color: rgba(168, 168, 168, 0.9);
}

.icon--mod {
  color: rgb(0, 0, 0);
  transform: scale(1.8);
}

#nav {
  background-color: rgba(168, 168, 168, 0.95);
}