$navBackground             : #bec4d5;
$navText                   : #000000;
$bodyBackground            : #bec4d5;
$sectionAboutBackground    : #dae2f7;
$sectionPortfolioBackground: #dae2f7;
$sectionContactBackground  : #dae2f7;
$footerBackground          : #bec4d5;