.about {
    grid-column: 1 / span 1;
    @mixin atMedium {
        grid-column: 2 / span 1;
    }
    &-name {
        font-size: 1.6rem;
        text-align: center;
        margin: 20px 0 0 0;
    }
    &-divider {
        margin: 0 0 0 auto;
        width: $M-dividerWidth;
        border-color: black;
        @mixin atMedium {
            width: $T-dividerWidth;
            margin: 0 auto;
        }
    }
    &-body {
        margin: 0 $M-marginLR;
        padding-left: $M-paddingL;
        border-left: 1px solid black;
        @mixin atMedium {
            width: 80%;
            border: none;
        }
    }
}