.container {
    display: grid;
    grid-template-columns: 1fr;
    margin: 20px auto;
    @mixin atMedium {
        grid-template-columns: 1fr 2fr;
    }
    @mixin atLarge {
        width: 75%;
    }
    @mixin atXLarge {
        width: 1536px;
    }
}