.findMe {
    text-align: center;
    &-title {
        font-size: 1.125rem;
        padding: 5px 0 0 3px;
        border-left: 1px solid black;
        margin: -4px $M-marginLR 0 $M-marginLR;
    }
    &-github {
        padding: 5px 0 0 3px;
        border-left: 1px solid black;
        margin: -4px $M-marginLR 0 $M-marginLR;
        display: block;
    }
    &-divider {
        margin: 0 0 10px auto;
        width: $M-dividerWidth;
        border-color: black;
    }
}