.footer {
  background-color     : $footerBackground;
  width                : 100%;
  text-align           : center;
  grid-area            : footer;
  display              : grid;
  padding-top          : 2%;
  padding-bottom       : 2%;
  grid-template-columns: 1fr;
  @mixin atMedium {
    grid-template-columns: 1fr 1fr;
    grid-column-gap      : 2em;
  }
  @mixin atLarge {
    grid-column-gap: 10em;
  }

  &_icon {
    font-size: 2em;
  }

  &-align {
    &-l {
      justify-self: center;
    }

    &-r {
      justify-self: center;
    }
  }
}