.nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 30px;
    justify-items: center;
    margin: 20px 0 0 0;
    &-image {
        width: 40%;
        grid-column: 1 / span 3;
        border-radius: 25%;
    }
    &-link {
        margin: 10px 0 0 0;
        &-about {
            grid-column: 1 / span 1;
        }
        &-portfolio {
            grid-column: 2 / span 1;
        }
        &-github {
            grid-column: 3 / span 1;
        }
    }
}