.portfolio {
    grid-column: 1 / span 1;
    @mixin atMedium {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column: 1 / span 2;
    }
    @mixin atLarge {
        grid-column: 2 / span 1;
        grid-row: 1 / span 3;
        border-bottom: 2px solid black;
        padding-bottom: 15px;
    }
    &-divider {
        display: none;
        @mixin atMedium {
            grid-column: 1 / span 2;
            display: block;
            border-color: black;
            width: 100%;
            margin: 0 0 10px 0;
        }
        @mixin atLarge {
            margin: 0;
        }
    }
    &-image {
        padding: 5px 0 0 $M-paddingL;
        border-left: 1px solid black;
        margin: -4px $M-marginLR 0 $M-marginLR;
        display: inline-block;
        & img {
            width: $M-thumbnailWidth;
            padding-top: 5px;
            @mixin atMedium {
                padding-top: 15px;
                width: $T-thumbnailWidth;
            }
        }
        @mixin atMedium {
            text-align: center;
            border: none;
            margin: 0;
            padding: 0;
        }
    }
}