.container {
  margin-left          : auto;
  margin-right         : auto;
  background-color     : $containerBackground;
  display              : grid;
  padding-top          : 30px;
  grid-template-columns: 1fr;
  grid-template-areas  : "nav" "about" "portfolio" "contact" "footer";
  @mixin atMedium {
    width: 80%;
  }
}