.footer {
  width: 100%;
  grid-area: footer;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10em;
  padding-top: 2%;
  padding-bottom: 2%;
  &-align {
    &-l {
      justify-self: start;
    }
    &-r {
      justify-self: end;
    }
  }
}