.nav {
  display: grid;
  grid-area: nav;
  grid-template-columns: 1fr 1fr 6fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 2rem;
  grid-gap: 1em;
  align-items: center;
  background-color: $navBackground;
  position: fixed;
  width: 100%;
  grid-template-areas: ". logo . about portfolio contact .";
  &-btn {
    color: $navText;
    text-align: center;
    transition: all .5 ease-out;
    &:hover {
      transform: scale(1.3);
    }
    &-l {
      grid-area: logo;
    }
    &-a {
      grid-area: about;
    }
    &-p {
      grid-area: portfolio;
    }
    &-c {
      grid-area: contact;
    }
  }
}