.nav {
  display              : grid;
  grid-area            : nav;
  position             : fixed;
  align-items          : center;
  background-color     : $navBackground;
  grid-template-rows   : 2rem;
  width                : 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas  : "logo portfolio contact";
  @mixin atMedium {
    grid-template-columns: 1fr 1fr 6fr 1fr 1fr 1fr 1fr;
    grid-template-areas  : ". logo . about portfolio contact .";
  }
  @mixin atLarge {
    grid-template-columns: 1fr;
    grid-template-areas  : "logo";
    padding              : 0.5em 0;
  }

  &-btn {
    text-align: center;
    transition: none;

    &-l {
      grid-area: logo;
      @mixin atLarge {
        font-size  : 2rem;
        font-weight: bold;
      }
    }

    &-a {
      grid-area: about;
      display  : none;
      @mixin atMedium {
        display: block;
      }
      @mixin atLarge {
        display: none;
      }
    }

    &-p {
      grid-area: portfolio;
      @mixin atLarge {
        display: none;
      }
    }

    &-c {
      grid-area: contact;
      @mixin atLarge {
        display: none;
      }
    }
  }
}