.nav {
  display: grid;
  grid-area: nav;
  position: fixed;
  align-items: center;
  background-color: $navBackground;
  grid-template-rows: 2rem;
  width: 100%;
  @mixin atMedium {
    grid-template-columns: 1fr 1fr 6fr 1fr 1fr 1fr 1fr;
    grid-template-areas: ". logo . about portfolio contact .";
  }
  &-btn {
    text-align: center;
    transition: all .4s ease-out;
    &:hover {
      transform: scale(1.8);
      background-color: $navBtnBackgroundHover;
    }
    &-l {
      grid-area: logo;
    }
    &-a {
      grid-area: about;
    }
    &-p {
      grid-area: portfolio;
    }
    &-c {
      grid-area: contact;
    }
  }
}