.section {
  @mixin atLarge {
    padding-bottom: 1em;
  }

  &_about {
    background-color   : $sectionAboutBackground;
    grid-area          : about;
    display            : grid;
    grid-template-areas: "image" "titles" "body";
    @mixin atMedium {
      grid-template-columns: 2fr 1fr;
      grid-template-areas  : "body image" "titles image";
    }
    @mixin atLarge {
      grid-template-columns: 1fr;
      grid-template-areas  : "image" "titles" "body";
      padding-bottom       : 0;
    }

    &_body {
      grid-area   : body;
      width       : 100%;
      text-align  : center;
      line-height : 1.5;
      justify-self: end;
      @mixin atMedium {
        width     : 90%;
        align-self: end;
      }
      @mixin atLarge {
        justify-self: center;
        margin-top  : -5em;
      }
    }

    &_img {
      grid-area    : image;
      border-radius: 15%;
      width        : 80%;
      align-self   : center;
      justify-self : center;
      @mixin atLarge {
        width  : 40%;
        padding: 0;
      }
    }

    &_titles {
      width       : 90%;
      grid-area   : titles;
      align-self  : center;
      text-align  : center;
      justify-self: end;
      @mixin atLarge {
        justify-self: center;
        margin      : 0;
      }
    }
  }

  &_portfolio {
    background-color     : $sectionPortfolioBackground;
    grid-area            : portfolio;
    text-align           : center;
    display              : grid;
    grid-template-columns: 1fr;
    grid-template-areas  : "title""grid";

    &_title {
      margin-bottom: 1em;
      grid-area    : title;
      align-self   : center;
      @mixin atLarge {
        margin-top: 25px;
      }
    }

    &_img {
      width        : 95%;
      border-radius: 2%;
      border       : 3px solid #fff;

      &-grid {
        grid-area   : grid;
        display     : grid;
        grid-row-gap: 1em;
        @mixin atMedium {
          grid-template-columns: 1fr 1fr;
          grid-column-gap      : 0;
        }
        @mixin atLarge {
          align-self: start;
        }
      }
    }
  }

  &_contact {
    background-color     : $sectionContactBackground;
    grid-area            : contact;
    display              : grid;
    grid-column-gap      : 0.5em;
    grid-template-columns: 1fr;
    grid-template-areas  : "title" "form";
    @mixin atMedium {
      grid-template-columns: 1fr 1fr;
      grid-template-areas  : "title title" "form body";
    }

    &_title {
      grid-area : title;
      text-align: center;
      @mixin atLarge {
        margin    : 0;
        align-self: center;
      }
    }

    &_form {
      display     : grid;
      grid-area   : form;
      grid-row-gap: 1em;
      height      : 90%;
      width       : 90%;
      justify-self: center;
      align-self  : center;
    }

    &_body {
      grid-area   : body;
      display     : none;
      align-self  : center;
      justify-self: center;
      line-height : 1.2;
      @mixin atMedium {
        width  : 90%;
        display: block;
      }
    }
  }
}